# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "nuget"
    # Set to zero to disable
    open-pull-requests-limit: 2
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 9 * * 7"
    groups:
      # If a dependency update could belong to more than one group, it is only assigned to the first group it matches with.
      security-updates:
        applies-to: security-updates
        update-types:
          - "major"
          - "minor"
          - "patch"

      major-pkg-updates:
        applies-to: version-updates
        patterns:
          - "*Analyzers"
        update-types:
          - "major"

      pkg-updates:
        applies-to: version-updates
        exclude-patterns:
          - "*Analyzers"
        update-types:
          - "minor"
          - "patch"

      analyzer-updates:
        applies-to: version-updates
        patterns:
          - "*Analyzers"
        update-types:
          - "major"
          - "minor"
          - "patch"
    labels:
      - "⬆️ Dependencies"

  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 2
    # For GitHub Actions, you do not need to set the directory to
    # /.github/workflows. Configuring the key to / automatically instructs
    # Dependabot to search the /.github/workflows directory, as well as the
    # action.yml / action.yaml file from the root directory.
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      actions-dependencies:
        update-types:
          - "minor"
          - "patch"
    labels:
      - "⬆️ Dependencies"

# https://devblogs.microsoft.com/dotnet/using-dependabot-to-manage-dotnet-sdk-updates/
  - package-ecosystem: "dotnet-sdk"
    open-pull-requests-limit: 2
    directory: "/"
    schedule:
      interval: "weekly"
      day: "wednesday"
    labels:
      - "⬆️ Dependencies"
