# Please see the documentation for all configuration options:
# https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "nuget"
    # Set to zero to disable
    open-pull-requests-limit: 2
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 9 * * 7"
    cooldown:
      default-days: 5
      semver-major-days: 20
      semver-minor-days: 5
      semver-patch-days: 2
    groups:
      # If a dependency update could belong to more than one group, it is only assigned to the first group it matches with.
      security-updates:
        applies-to: security-updates
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      major-pkg-updates:
        applies-to: version-updates
        exclude-patterns:
          - "*[Aa]nalyzers*"
        update-types:
          - "version-update:semver-major"

      pkg-updates:
        applies-to: version-updates
        exclude-patterns:
          - "*[Aa]nalyzers*"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"

      analyzer-updates:
        applies-to: version-updates
        patterns:
          - "*[Aa]nalyzers*"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
          - "version-update:semver-patch"
    labels:
      - "⬆️ Dependencies"

  - package-ecosystem: "github-actions"
    open-pull-requests-limit: 2
    # For GitHub Actions, you do not need to set the directory to
    # /.github/workflows. Configuring the key to / automatically instructs
    # Dependabot to search the /.github/workflows directory, as well as the
    # action.yml / action.yaml file from the root directory.
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 9 15 * *"
    # Doesn't support SemVer
    cooldown:
      default-days: 5
    groups:
      actions-dependencies:
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
          - "version-update:semver-patch"
    labels:
      - "⬆️ Dependencies"

# https://devblogs.microsoft.com/dotnet/using-dependabot-to-manage-dotnet-sdk-updates/
  - package-ecosystem: "dotnet-sdk"
    open-pull-requests-limit: 2
    directory: "/"
    schedule:
      interval: "cron"
      cronjob: "0 9 5 * *"
    cooldown:
      default-days: 40
      semver-major-days: 30
      semver-minor-days: 15
      semver-patch-days: 10
    labels:
      - "⬆️ Dependencies"
